{% load static %}

<div class="panel panel-default text-center">
  <div class="panel-body">
    <h1>Contact Information</h1>
    <p>For general queries.</p>
    <p>
      To enquire about a project, please open a
      <a href="#">ticket</a> instead.
    </p>
    <p>Email: emerg3dprops@gmail.com</p>
    <p>Phone: (+44) 123-4567</p>
  </div>
</div>

<!-- <div class="container text-center">
        <a href="#myPage" title="To Top">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
    </div> -->
