{% extends "base.html" %}

{% load static %}

{% block title %}EMERG3D Blog{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <h2>EMERG3D Blog</h2>
    <div class="well text-center">
        <p class="lead">Keep and eye on our blog for all things EMERG3D</p>
        <p>From the latest equipment, events, reviews and more!<br>If you would like to become a contributing author to
            the blog please let us know.</p>
    </div>
    <div class="row-fluid">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3">
            <div class="row-fluid">
                {% for post in post_list %}
                <div class="col-md-3">
                    <div class="comment-card-body">
                        <div class="blog-image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="img-responsive"
                                src="https://res.cloudinary.com/demo/image/upload/v1312461204/sample.jpg">
                            {% else %}
                            <img class="img-responsive" src=" {{ post.featured_image.url }}">
                            {% endif %}
                        </div>
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                        <div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="custom-text-black ">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text h5">{{ post.created_on}} <i class="fas fa-heart custom-text-red"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row-fluid">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}

