{% extends 'base.html' %}
{% load static %}
{% block title %}  {% endblock %}
{% load crispy_forms_tags %}
{% block content %} {% include 'gradient.html' %}

<div class="masthead">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 masthead-text">
                <h1 class="post-title">{{ post.title }}</h1><br>
                <p class="post-subtitle custom-text-white">BY: {{ post.author }} | {{ post.created_on }}</p><br>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="">
        <div class="well col-md-8 col-md-offset-2">
            <p class="card-text ">
                {{ post.content | safe }}
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="likes-row row">
        <div class="col-xs-6 text-center">
            {% if user.is_authenticated %}
            <form action="{% url 'post_like' post.slug %}" method="POST" class="d-inline-block">
                {% csrf_token %}
                <button class="btn btn-lg" type="submit" name="blogpost_id" value="{{post.slug}}">
                    {% if liked %}
                    <i class="fas fa-heart"></i> <!-- Liked State -->
                    {% else %}
                    <i class="far fa-heart"></i> <!-- Not Liked State -->
                    {% endif %}
                </button>
            </form>
            <span class="text-secondary">{{ post.number_of_likes }}</span>
            {% else %}
            <div class="btn btn-lg"><i class="far fa-heart"></i></div>
            <br><span cclass="btn btn-lg">{{ post.number_of_likes }}</span>
            {% endif %}
        </div>
        <div class="col-xs-6 text-center">
            {% with comments.count as total_comments %}
            <a href="#comments-section" class="btn btn-lg custom-text-black">
                <i class="far fa-comments"></i>
            </a><br>
            <span class="text-secondary">{{ total_comments }}</span>
            {% endwith %}
        </div>
    </div><br>

    <div class="row">
        <div id="comments-section">
            <div class="col-md-6">
                <h3>Comments:</h3>
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="blog-card-body">
                    <p class="font-weight-bold"> Comment by {{ comment.author }} on {{ comment.created_on }}</p>
                    <p>{{ comment.content | linebreaks }}</p>
                </div>
                <div>
                    {% empty %}
                    <div class="blog-card-body">
                        <p>No comments yet...</p>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-center">
        <div class="col-md-6">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p class="custom-text-white">(Commenting as: {{ user.username }})</p>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-lg">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>

</div>

{% endblock content %}