@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Tilt+Prism&display=swap');



:root {
    --primary-color: #000000;
    /* Black */
    --secondary-color: #463f4f;
    /* Gray */
    --accent-color: #eb1f2a;
    /* Red */
    --text-color: #FAF9F6;
    /* White */
    --link-color: #fde3a7;
    /* Cream */
}

.custom-text-white {
    color: #FAF9F6;
}

.white-labels label {
    color: #FAF9F6;
}

.custom-text-black {
    color: #000000;
}

.custom-text-red {
    color: var(--accent-color);
}

.custom-text-smallprint {
    color: #b0b0b0;
    font-size: small;
}

.margin-around {
    margin: 1rem;
}

body {
    font-family: 'Nova Square', sans-serif;
    font-size: large;
    background-color: var(--secondary-color);
}

#top-black-gradient {
    height: 50px;
    background-image: linear-gradient(to top, rgba(70, 63, 79, 1), rgba(0, 0, 0, 1));
}

.thumbnail-wrapper {
    margin: 3rem 1rem;
    background-color: var(--text-color);
    border-radius: 12px;
    border: 2px solid #463f4f;
}

.thumbnail-wrapper:hover,
.thumbnail-wrapper:focus {
    color: var(--accent-color);
    box-shadow: 0 0 10px rgba(235, 31, 42, 0.7);
}

.product-image {
    max-height: 400px;
    margin: 5rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.603);
    border-radius: 8px;
    float: right;
}


#comments-section {
    display: flex;
    justify-content: center;
    background-color: #000000;
}


.image-container {
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
    border-radius: 10px;
}

.thumbnail-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption {
    padding: 10px;
}

.center-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-links
a>.step-links {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-card-body {
    padding: 2rem;
    margin: 2rem;
    background-color: var(--text-color);
    border-radius: 8px;
}

.card-body {
    padding: 2rem;
}

.blog-image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    max-height: 400px;
}

.likes-row {
    display: flex;
    color: #FAF9F6;
    justify-content: flex-start;
    /* Aligns items to the start (left) */
    align-items: center;
    /* Vertically centers items in the row */
    flex-wrap: wrap;
    /* Allows items to wrap in smaller screens */
    margin: 1rem 0;
    /* Adds vertical margin for spacing, adjust as needed */
}

.likes-row .btn {
    padding: 2rem;
    /* Adjust padding for buttons, if needed */
    margin: 2rem;
    /* Adds some space between the buttons */
    background-color: #FAF9F6;
}




/* special custom font */
@font-face {
    font-family: 'Horta';
    src: url('/static/fonts/horta.otf') format('opentype');
}

/* logo image size */

#logo-image {
    max-width: 140px;
    max-height: 140px;
    border-radius: 50px;
    margin-right: 5rem;
    transition: box-shadow 0.3s ease;
}

#logo-image:hover {
    box-shadow: 0 0 10px rgba(235, 31, 42, 0.7);
}


h1,
h2 {
    font-family: 'Horta', sans-serif;
    font-weight: 700;
    /* background-color: var(--accent-color); */
    background-image: linear-gradient(to top, rgba(133, 18, 26, 0.8), rgba(235, 31, 42, 1));
    width: 100%;
    padding: 1.5rem 1rem;
    margin-top: 0;
    border: 3px solid black;
    border-radius: 6px;
    letter-spacing: 0.4rem;
    color: var(--text-color);
    text-align: center;
}

h3,
h4 {
    font-family: 'Horta', sans-serif;
    font-weight: 700;
    letter-spacing: 0.4rem;
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    background-color: var(--primary-color);
    padding: 0.5rem 0 4rem;
    margin-bottom: 0;
    border-radius: 0;
}

#myNavbar {
    /* border: 2px pink solid; */
    padding-top: 4.5rem;
    background-color: var(--primary-color);
}

.navbar-inverse {
    background-color: var(--primary-color);
}

.navbar-brand {
    padding: 0 0 2rem 0;
}

.navbar-collapse {
    padding: 1.5rem 0 0;
    background-color: var(--primary-color);
}

.panel {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
}

.panel-body {
    padding-top: 0;
    margin-top: 0;
}

.navbar .navbar-nav>li>a {
    color: var(--text-color);
    border-radius: 18px;
    transition: box-shadow 0.3s ease;
}

.navbar .navbar-nav>.active>a {
    color: var(--link-color);
}

.navbar .navbar-nav>li>a:hover,
.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>.active>a:hover,
.navbar .navbar-nav>.active>a:focus {
    color: var(--accent-color);
    box-shadow: 0 0 10px rgba(235, 31, 42, 0.7);
}

/* Add a gray background color and some padding to the footer */
footer {
    /* background-color: var(--primary-color); */
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding-bottom: 2rem;
    margin-bottom: 0;
}

footer div {
    padding: 1rem;
}

footer h3 {
    margin: 0;
}

footer a {
    color: var(--accent-color);
}

.btn-lg {
    color: var(--accent-color);
    padding: 1.5rem;
    margin: 2rem;
    transition: box-shadow 0.3s ease;
    border-radius: 50px;
}

.btn-lg:hover {
    color: var(--accent-color);
    box-shadow: 0 0 10px rgba(235, 31, 42, 0.7);
}

.btn-m {
    padding: 1rem;
    margin: 1rem;
}



/* MODEL STYLES */

.modal-content {
    background-color: #463f4f;
    border: 2px solid #eb1f2a;
    border-radius: 10px;
}


.mycarousel {
    max-height: 450px;
}

.carousel-inner>.item {
    height: 450px;
    /* Example fixed height, adjust as needed */
    overflow: hidden;
    /* Ensures that any part of the image exceeding the height is hidden */
}

.carousel-inner>.item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

@media (max-width: 800px) {
    .product-detail-container .product-image {
        float: none;
        /* Disable float for smaller screens */
        margin: 0 auto;
        /* Center the image */
        display: block;
    }

    .product-detail-container>.row>div {
        text-align: center;
        /* Center text and content in each column */
    }
}