{% extends "base.html" %} {% load static %} {% block title %} Your Profile Page
{% endblock %} {% block content %} {% include 'gradient.html' %} {% load crispy_forms_tags %}

<script type="text/javascript">
  function confirmLogout() {
    return confirm("Are you sure you want to log out?");
  }
</script>

<script>
    // Function to load ticket data into the modal
    function loadTicketData(ticketId) {
        $.ajax({
            url: '/ticket/get_ticket_data/' + ticketId,
            method: 'GET',
            success: function (data) {
                $('#myEditModal .modal-body').html(data.form_html);
                $('#myEditModal').data('ticketId', ticketId);
                $('#myEditModal').modal('show');
            }
        });
    }
</script>

<script>
    function submitEditForm() {
        var ticketId = $('#myEditModal').data('ticketId');
        $.ajax({
            url: '/ticket/edit_ticket/' + ticketId,
            method: 'POST',
            data: $('#editTicketForm').serialize(),
            success: function (response) {
                $('#myEditModal').modal('hide');
                $('#message-container').html('<div class="alert alert-success">Ticket updated successfully!</div>');
                setTimeout(function () {
                    location.reload();
                }, 2000);  // 2000 milliseconds = 2 seconds
            },
            error: function (xhr, status, error) {
                var errorMessage = xhr.status + ': ' + xhr.statusText;
                // Check if the server provided additional information
                if (xhr.responseText) {
                    errorMessage += '\n' + xhr.responseText;
                }
                $('#error-message').text(errorMessage);
            }
        });
    }
</script>

<script>
    function deleteTicket() {
        var ticketId = $('#myDeleteModal').data('ticket-id');
        $.ajax({
            url: '/ticket/delete_ticket/' + ticketId,
            method: 'POST',
            data: {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val()
            },
            success: function (response) {
                if (response.status === "success") {
                    $('#myDeleteModal').modal('hide');
                    $('#message-container').html('<div class="alert alert-success">' + response.message + '</div>');
                    $('#ticket-' + ticketId).remove();
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                } else {
                    alert("Error: " + response.message);
                }
            },
            error: function (xhr, status, error) {
                alert("Error: " + xhr.status + " - " + error);
            }
        });
    }
</script>


<div class="container custom-text-white">
  <div class="text-right">
    <form action="{% url 'logout' %}" method="post" onsubmit="return confirmLogout()">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-primary margin-around" />
    </form>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>User Profile</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
    </div>

    <div>
        <!-- MY CART -->
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if user_tickets %}
            <h2>My Tickets</h2>
            {% for ticket in user_tickets %}
            <div class="well custom-text-black" id="ticket-{{ ticket.id }}">
                <h3 class="custom-text-black">Project '{{ ticket.title }}'</h3>
                <p><strong>Country:</strong> {{ ticket.country }}</p>
                <p><strong>Project Description:</strong> {{ ticket.description }}</p>
                <p><strong>Desired Completion Date:</strong> {{ ticket.completion_date }}</p>
                <p><strong>Budget:</strong> €{{ ticket.budget }}</p>
                <p><strong>Status:</strong> {{ ticket.get_status_display }}</p>
                <div>
                    <button class="btn btn-danger btn-m" data-ticket-id="{{ ticket.id }}" data-toggle="modal"
                        data-target="#myDeleteModal">Delete</button> |
                
                    {% if ticket.status == 'pending' %}
                    <button class="btn btn-primary btn-m" onclick='loadTicketData({{ ticket.id }})' data-toggle="modal"
                        data-target="#myEditModal">Edit</button>
                    {% endif %}
                </div>
                </div>
                    {% endfor %}
                    {% else %}
                    <p>You have no open tickets.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Edit your ticket:</h3>
                </div>
                <div class="modal-body">
                    <form id="editTicketForm" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" onclick="submitEditForm()">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Delete your ticket:</h3>
                </div>
                <div class="modal-body">
                    Are you sure you want to <strong>delete</strong> your enquiry ticket?<br>(This action cannot be undone)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" onclick="deleteTicket({{ ticket.id }})">Yes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->




    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if user_posts %}
            <h2>My Posts</h2>
            <ul>
                {% for post in user_posts %}
                <li><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}
