{% extends "base.html" %} {% load static %} {% block title %} Your Profile Page
{% endblock %} {% block content %} {% include 'gradient.html' %}

<script type="text/javascript">
  function confirmLogout() {
    return confirm("Are you sure you want to log out?");
  }
</script>

<div class="container custom-text-white">
  <div class="text-right">
    <form action="{% url 'logout' %}" method="post" onsubmit="return confirmLogout()">
        {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-primary margin-around" />
    </form>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>User Profile</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
    </div>

    <div>
        <!-- MY CART -->
    </div>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        {% if user_tickets %}
        <h2>My Tickets</h2>
        {% for ticket in user_tickets %}
        <div>
            <h3>{{ ticket.title }}</h3>
            <p>{{ ticket.country }}</p>
            <p>{{ ticket.description }}</p>
            <p>Completion Date: {{ ticket.completion_date }}</p>
            <p>Budget: €{{ ticket.budget }}</p>
            <p>Status: {{ ticket.get_status_display }}</p> <!-- Display status -->
            <div>
                <a href="{% url 'delete_ticket' ticket.id %}">Delete</a> |
                {% if ticket.status == 'pending' %} 
                <a href="{% url 'edit_ticket' ticket.id %}">Edit</a> |
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>You have no open tickets.</p>
        {% endif %}
    </div>
</div>




    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if user_posts %}
            <h2>My Posts</h2>
            <ul>
                {% for post in user_posts %}
                <li>{{ post.title }} - {{ post.created_date }}</li>
                <!-- You can add more details or a link to the post -->
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
