{% extends "base.html" %} {% load static %} {% include 'gradient.html' %}

{% block content %}
<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <h2>Registration</h1>
                {% csrf_token %} {{ form.as_p }}
                <button type="submit">Register</button>
                <p>Already have an account? <a href="{% url 'signin' %}">Log in</a> instead!</p>
            </div>
        </div>
    </div>
</form>

{% endblock %}
