{% extends "base.html" %} {% load static %} {% block title %} Registration Page
{% endblock %} {% include 'gradient.html' %} {% block content %}

<form method="post">
  <div class="container custom-text-white">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">Registration</h2>
        {% csrf_token %} {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }} {{ field }} {% if field.errors %}
          <p class="custom-text-smallprint">{{ field.errors }}</p>
          {% endif %}
        </div>
        {% endfor %}

        <button class="btn btn-success btn-block" type="submit">
          Register
        </button>
        <p>
          Already have an account?
          <a href="{% url 'signin' %}">Log in</a> instead!
        </p>
      </div>
    </div>
  </div>
</form>
{% endblock %}
