{% extends "base.html" %}

{% load static %}

{% block title %}Registration Page{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<h1>Registration</h1>
<form method="post">
    <div class="container custom-text-white text-center">
        <div class="col-sm-6 col-sm-offset-3 form-group">
            <p>
                Already have an account?<br>
                <a href="{% url 'signin' %}">Log in</a> instead!
            </p>
            {% csrf_token %} {% for field in form %}
            <p><label for="{{ field.id_for_label }}">{{ field.label_tag }}</label></p>
            <p class="custom-text-black">{{ field }}</p>
            {% if field.errors %}
            <p class="custom-text-smallprint">{{ field.errors }}</p>
            {% endif %}
            {% endfor %}
            <button class="btn btn-success reg-button full-width" type="submit">
            Register
            </button>
        </div>
    </div>
</form>

{% endblock %}
