{% extends "base.html" %}

{% load static %}

{% block title %}404 Not Found{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2 class="custom-text-white">ERROR 404</h2>
            <p class="custom-text-white">
                The page you are looking for might have been removed,
                had its name changed, or is temporarily unavailable.
            </p>
            <a href="{% url 'home' %}" class="btn btn-success">Return to Homepage</a>
            <img src="{% static 'images/dino-404.webp' %}" class="img-responsive">
        </div>
    </div>
</div>

{% endblock %}