{% extends "base.html" %}

{% load static %}

{% block title %}500 Internal Server Error{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2 class="custom-text-white">ERROR 500</h2>
            <p class="custom-text-white">
                Oops! Sorry about that, something went wrong on our end... 
                Please try again later or contact us if the problem persists.
            </p>
            <a href="{% url 'home' %}" class="btn btn-success">Return to Homepage</a>
            <img src="{% static 'images/dalle-500.png' %}" alt="AI generated image of a cartoon gladiator slapping his forehead" class="img-responsive">
        </div>
    </div>
</div>

{% endblock %}