{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- stylesheets -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    <title>Document</title>
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-sm">
      <a href="/" class="navbar-brand">Emerg3D</a>

      <button
        class="navbar-toggler ml-auto"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="active nav-item mr-2">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item mr-2">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Store
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Cosplay</a>
              <a class="dropdown-item" href="#">Homeware</a>
            </div>
          </li>

          <li class="nav-item mr-2 d-block d-sm-none">
            <a class="nav-link" href="#">Sign In / Sign Up</a>
          </li>
        </ul>
      </div>
      <div class="d-none d-md-block">
        <p class="navbar-text my-auto mr-2">
          <i>Lorem Ipsum</i>
        </p>
        <a href="#" class="btn btn--cta btn--red">Sign In / Sign Up</a>
      </div>
    </nav>
    <main>
      {% block content %}
      <!-- content goes here -->
      {% endblock content %}
    </main>

    <h1>Apps inserted above</h1>

    <footer>
      <p></p>
    </footer>
  </body>
</html>
